  <footer style="background-color: #9bbeeb">
    <div class="container pt-2 mt-2 border-top">
      <div class="row pb-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="static/bdog.png" alt="" width="50" class="mb-3">
          <p class="font-italic text-muted">Some stuff</p>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 mx-auto">
          <h6 class="text-uppercase font-weight-bold mb-4">This is the footer.</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="/" class="text-muted">Home</a></li>
            <li class="mb-2"><a href="/" class="text-muted">About Us</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Some Stuff</h6>
        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">©Some Stuff.</p>
      </div>
    </div>
  </footer>