<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid mb-3">
    <a class="navbar-brand .navbar-text display-5 text-black font-weight-bold fw-bold" href="/">Adolscent Sleep Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 display-8 text-black fw-bold" style="margin: 0% 37%;"> 
        <li class="nav-item">
          <a class="nav-link" href="/sleeps">Sleep</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sleep/new">New Sleep</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/overview">Overview</a>
        </li>
        <li class='nav-item'>
          <a class="nav-link" href="/blogs">User Feedback</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/myprofile">Update Contact Information</a></li>
          </ul>
        </li>
        <li>
      </li> 
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>

          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/myprofile">
              {{ current_user.gname }} 
            </a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>  
