{% extends 'base.html' %}

{% block body %}
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<div class="row">
    <div class="col-4">
        <h1 class="display-1">Any Feedback for us?</h1>
    </div>
    <div class="col">
        <a href="/blog/new" class="btn btn-primary btn-sm mt-5" role="button">Comment Button</a>
    </div>
</div>

{% if blogs %}
    {% for blog in blogs %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Date</h3>
                {% endif %}

                <a href="/blog/{{blog.id}}">
                    {{moment(blog.create_date).calendar()}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">User</h3>
                {% endif %}
                {{blog.author.fname}} {{blog.author.lname}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Subject</h3>
                {% endif %}
                {{blog.subject}}
            </div>
        </div>
    {% endfor %}
{% else %}

{% endif %}

{% endblock %}