<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

      <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">


<h1 class="display-4 text-center ">Overview</h1>
<p></p>
<div class="row">
    <div class="col-5 mx-5 my-5 border border-5">
        <h1 class="display-5 text-center">Background</h1>
        <p> My initial research topic was how school starts times affect the health of students. This leads me to discover that due to puberty, the sleep pattern of adolescents changes. This also lead me to discover that California changed the school start policy because of sleep deprivation in students 
            .</p>
            <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

            <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


    <div class="col-5 me-5 mb-5 border border-5">
        <p></p>
        <h1 class="display-6 text-center">Danger of Sleep Deprivation</h1>
        <p>Sleep deprivation is the leading cause of the decline in student health because the biological sleep pattern in adolescents causes students to sleep later and wake up later. Sleep deprivation can lead to metabolic and cognitive disturbances in brain areas involved in learning, memory, and emotions in the hippocampus, amygdala, and prefrontal cortex. Children and adolescents who do not get enough sleep have a higher risk for many health problems, including obesity, type 2 diabetes, poor mental health, and injuries. They are also more likely to have attention and behavior problems, which can contribute to poor academic performance in school
        </p>
            <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

            <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


            <div class="container text-center border border-5 ">
                <h1 class="display-4 container text-center">Little 'bout Us</h1>
        <p>Our names are Nengi Frank and EurAsia Robinson. We are both seniors in the Computer Science Academy and play lacrosse. We choose to make this website because as student athletes and teenagers who have to wake up early for school we know the effects of going to school on little to none sleep. We both were also able to compare what it was like to have a later start time our freshman year and compare it to our  junior and senior year, where we had an earlier start time. Even though the time difference is around 20 minutes, it still affected the students at Tech heavily which influenced us to make this website. </p>
        <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

        <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>

        
</div>

                


 



{% endblock %}